server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        # Auth Service Routes
        - id: auth-service
          uri: ${AUTH_SERVICE_URL:http://localhost:8081}
          predicates:
            - Path=/api/auth/**
          filters:
            - StripPrefix=0

        # House Service Routes
        - id: house-service
          uri: ${HOUSE_SERVICE_URL:http://localhost:8082}
          predicates:
            - Path=/api/case-vacanza/**
          filters:
            - StripPrefix=0

        # Booking Service Routes
        - id: booking-service
          uri: ${BOOKING_SERVICE_URL:http://localhost:8083}
          predicates:
            - Path=/api/prenotazioni/**
          filters:
            - StripPrefix=0

      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            exposedHeaders:
              - Authorization

jwt:
  secret: ${JWT_SECRET:easystay-secret-key-2026-microservices-architecture-secure}

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty: DEBUG
