apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: easystay
spec:
  replicas: 2
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
      - name: auth-service
        image: easystay/auth-service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8081
        env:
        - name: EUREKA_CLIENT_SERVICEURL_DEFAULTZONE
          value: "http://eureka-server:8761/eureka/"
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: jwt-secret
              key: secret
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: easystay
spec:
  type: ClusterIP
  selector:
    app: auth-service
  ports:
  - port: 8081
    targetPort: 8081
---
apiVersion: v1
kind: Secret
metadata:
  name: jwt-secret
  namespace: easystay
type: Opaque
data:
  # Base64 encoded JWT secret
  # Default: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  secret: NDA0RTYzNTI2NjU1NkE1ODZFMzI3MjM1NzUzODc4MkY0MTNGNDQyODQ3MkI0QjYyNTA2NDUzNjc1NjZCNTk3MA==
